Repository kodezine/kdocker: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-validation, devcontainer-json-validation, docker-compose-validation

Path conditions:
  dockerfile-validation: any of: ^Dockerfile.*$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$

  devcontainer-json-validation: any of: ^\.devcontainer/.*\.json$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$

  docker-compose-validation: any of: ^\.devcontainer/docker-compose\.yml$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$


fix: add resume capability and retry logic to wget downloads
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
  stm32-tools.sh
Due: none

feat: add automatic pre-commit hook setup for dev containers
  .devcontainer/devcontainer.json
  .github/workflows/docker-test.yml
  .readme/devcontainer.md
  DEVCONTAINER.md
  Dockerfile
  PRE-COMMIT.md
  README.md
  examples/README.md
  examples/devcontainer-basic.json
  examples/pre-commit-config-template.yaml
  scripts/setup-pre-commit.sh
  scripts/test.sh
Due: dockerfile-validation, devcontainer-json-validation

chore: add Python 3.12.0 version and prettier for YAML formatting
  .gitignore
  .pre-commit-config.yaml
  .python-version
Due: none

style: apply automated formatting to all repository files
  .devcontainer/bootstrap-pyenv.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/setup.sh
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  .github/markdown-link-check.json
  .github/workflows/README.md
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
  .pre-commit-config.yaml
  .readme/NON_ROOT_USER_SETUP.md
  .readme/arm-toolchains.md
  .readme/bootstrap-scripts.md
  .readme/build-testing.md
  .readme/building.md
  .readme/devcontainer.md
  .readme/stm32-tools-guide.md
  .readme/troubleshooting.md
  .vscode-sample/launch.json
  DEVCONTAINER.md
  GIT-HOOKS.md
  MIGRATION-GIT-HOOKS.md
  Makefile
  OPTIMIZATION-SUMMARY.md
  PRE-COMMIT.md
  README.md
  STM32-README.md
  armv7m_hard_fpv4_sp_d16.cfg
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
  examples/devcontainer-basic.json
  examples/pre-commit-config-template.yaml
  scripts/setup-hooks.sh
  scripts/setup-pre-commit.sh
  scripts/test.sh
  stm32-tools.sh
Due: devcontainer-json-validation, docker-compose-validation

style: apply shfmt and markdownlint auto-fixes
  .devcontainer/bootstrap-pyenv.sh
  .devcontainer/setup.sh
  .github/workflows/README.md
  .pre-commit-config.yaml
  .readme/NON_ROOT_USER_SETUP.md
  .readme/arm-toolchains.md
  .readme/bootstrap-scripts.md
  .readme/build-testing.md
  .readme/building.md
  .readme/devcontainer.md
  .readme/stm32-tools-guide.md
  .readme/troubleshooting.md
  DEVCONTAINER.md
  GIT-HOOKS.md
  MIGRATION-GIT-HOOKS.md
  OPTIMIZATION-SUMMARY.md
  PRE-COMMIT.md
  README.md
  STM32-README.md
  examples/README.md
  scripts/setup-hooks.sh
  scripts/test.sh
  stm32-tools.sh
Due: none

chore: update pre-commit hook versions to latest releases
  .pre-commit-config.yaml
Due: none

feat(toolchain): upgrade to gcc 14 with multilib support
  .github/workflows/docker-test.yml
  .markdownlint.json
  .pre-commit-config.yaml
  .readme/building.md
  .readme/devcontainer.md
  .readme/troubleshooting.md
  .vscode-sample/launch.json
  Dockerfile
  README.md
  STM32-README.md
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
  scripts/setup-hooks.sh
  scripts/test.sh
  stm32-tools.sh
Due: dockerfile-validation

fix(docker): resolve build failures with apt and SSL certificates
  .pre-commit-config.yaml
  Dockerfile
Due: dockerfile-validation

fix(ci): correct GCC 14 version detection regex in workflow
  .github/workflows/docker-test.yml
Due: none

fix(docker): add i386 kernel headers for 32-bit C++ compilation
  Dockerfile
Due: dockerfile-validation

feat: add WSL image export and kdlauncher.exe (Rust)
  .github/workflows/wsl-release.yml
  .gitignore
  Dockerfile
  Makefile
  examples/kdocker-version.json
  kdlauncher/Cargo.lock
  kdlauncher/Cargo.toml
  kdlauncher/src/cli.rs
  kdlauncher/src/commands/doctor.rs
  kdlauncher/src/commands/list.rs
  kdlauncher/src/commands/mod.rs
  kdlauncher/src/commands/shell.rs
  kdlauncher/src/config.rs
  kdlauncher/src/main.rs
  kdlauncher/src/manifest.rs
  kdlauncher/src/naming.rs
  kdlauncher/src/reconcile.rs
  kdlauncher/src/registry.rs
  kdlauncher/src/ui.rs
  kdlauncher/src/wsl.rs
  scripts/build-wsl-rootfs.sh
  wsl/wsl.conf
Due: dockerfile-validation

docs: add deprecation notice pointing to new Forgejo home
  README.md
Due: none
