Repository kodezine/kdocker: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-validation, devcontainer-json-validation, docker-compose-validation

Path conditions:
  dockerfile-validation: any of: ^Dockerfile.*$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$

  devcontainer-json-validation: any of: ^\.devcontainer/.*\.json$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$

  docker-compose-validation: any of: ^\.devcontainer/docker-compose\.yml$, but not: (?x)^(
  .*\.patch$|
  .*\.diff$|
  .*\.lock$|
  .*\.log$|
  node_modules/.*|
  \.git/.*|
  build/.*|
  dist/.*|
  \.vscode/.*\.json$|
  .*\.jsonc$
)$


fix(ci): update GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
Due: none

perf(ci): disable code quality and documentation validation jobs
  .github/workflows/ci.yml
Due: none

fix(ci): update GitHub Actions to latest versions and optimize pipeline
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
Due: none

fix(ci): correct GitHub Actions versions and optimize pipeline
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-release.yml
  .github/workflows/docker-test.yml
Due: none

fix(ci): update GitHub Actions versions and optimize Docker builds
  .github/workflows/ci.yml
  Dockerfile
Due: dockerfile-validation

feat: pre-install STLink tools and enable user-space ARM toolchain installation
  .github/workflows/ci.yml
  .github/workflows/docker-test.yml
  Dockerfile
  stm32-tools.sh
Due: dockerfile-validation

s
  .github/workflows/docker-test.yml
Due: none

Fix ARM cross-compilation tests in CI
  .github/workflows/docker-test.yml
Due: none

Fix ARM toolchain verification in CI workflow
  .github/workflows/docker-test.yml
Due: none

Fix symlink verification in CI workflow
  .github/workflows/docker-test.yml
Due: none

docs: Comprehensive README and documentation updates for on-demand STM32 toolchain system
  .readme/arm-toolchains.md
  .readme/devcontainer.md
  .readme/stm32-tools-guide.md
  .readme/troubleshooting.md
  README.md
Due: none

docs: Add comprehensive Windows 10/11 DevContainer setup and troubleshooting
  .readme/devcontainer.md
  README.md
Due: none

docs: Add comprehensive build verification and testing documentation
  README.md
Due: none

docs: re-write consise docs
  .readme/build-testing.md
  README.md
Due: none

add bootstrap scripts
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
Due: none

modify scripts for botstrapping
  Dockerfile
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
Due: dockerfile-validation

set the bootstraps to work correctly
  Dockerfile
Due: dockerfile-validation

add tests for bootstrapped scripts
  .github/workflows/docker-test.yml
Due: none

absolute path added
  .github/workflows/docker-test.yml
Due: none

bootstrapping documenation done
  .readme/arm-toolchains.md
  .readme/bootstrap-scripts.md
  README.md
Due: none

Add usbutils for helping debug debug
  Dockerfile
Due: dockerfile-validation

feat: optimize Docker image size with pyenv bootstrap approach
  .devcontainer/bootstrap-pyenv.sh
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/workflows/docker-test.yml
  Dockerfile
Due: dockerfile-validation, devcontainer-json-validation

fix: add resume capability and retry logic to wget downloads
  bootstrap-atfe21.1.sh
  bootstrap-gnuarm14.3.sh
  stm32-tools.sh
Due: none
